<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <title>Connaissances</title>
      <link rel="stylesheet" href="services/c/c-style.css">
      <link href="https://fonts.googleapis.com/css?family=Fira+Code:400,500&display=swap" rel="stylesheet">
</head>
<body>
  <div id="c-wrapper">

<!-- NAV PART ON LEFT ------------------------------------------------------------------------------>
      <div id="c-part-nav">
        <a class="c-link-back" href="/c"><h1 class="c-titre-nav">C ></h1></a>
        <div class="c-img-home">
          <img id="c-cerne-home" src="services/c/c-img/c-arbre-home.svg" alt="coupe d'un arbre avec cernes">
          <!--CAT UN ------------------------------------------------------------------------------>
          <a class="c-pousse-link" href="/c/cat-tech">
            <img id="c-pousse-home" src="services/c/c-img/c-pousse.svg" alt="petite-pousse-arbre">
            <img id="c-pousse-hover" src="services/c/c-img/c-pousse-hover.svg" alt="petite-pousse-arbre-red">
            <div class="c-pousse-label">technologies</div>
          </a>
          <!-- CAT DEUX ------------------------------------------------------------------------------>
          <a class="c-pousse-link-deux" href="#">
            <img id="c-pousse-home-deux" src="services/c/c-img/c-pousse.svg" alt="petite-pousse-arbre">
            <img id="c-pousse-hover-deux" src="services/c/c-img/c-pousse-hover.svg" alt="petite-pousse-arbre-red">
            <div class="c-pousse-label-deux">santé</div>
          </a>
          <!-- CAT TROIS  ------------------------------------------------------------------------------>
          <a class="c-pousse-link-trois" href="#">
            <img id="c-pousse-home-trois" src="services/c/c-img/c-pousse.svg" alt="petite-pousse-arbre">
            <img id="c-pousse-hover-trois" src="services/c/c-img/c-pousse-hover.svg" alt="petite-pousse-arbre-red">
            <div class="c-pousse-label-trois">histoire & géographie</div>
          </a>
            <!-- CAT QUATRE ------------------------------------------------------------------------------>
            <!-- CAT CINQ ------------------------------------------------------------------------------>
            <!-- CAT SIX ------------------------------------------------------------------------------>
            <!-- CAT SEPT ------------------------------------------------------------------------------>
            <!-- CAT HUIT ------------------------------------------------------------------------------>
        </div>
      </div>

      <div id="c-part-text">
        <h1>Le Jardin</h1>
        <p>Avec les 50 ans d'Internet et le 30 ans du web, nous, jeunes internautes, nous sommes demandé si le web ne pouvait pas être amélioré, repensé, de manière à ce qu'il soit plus conscient des enjeux du monde actuel tel que l'écologie ou l'identité numérique. Nous sommes des étudiant·e·s en design interactif au DSAA (Diplôme Supérieur d'Arts Appliqués) du Pôle Supérieur de Design de Villefontaine. Ayant grandi avec internet, âgé·e·s entre 20 et 23 ans (tou·te·s issu·e·s de la génération Y), nous avons donc connu l'évolution du web. Tou·te·s curieux·ses et passionné·e·s de numérique, nous sommes consommateur·rice·s et parfois créateur·rice·s de contenus web. </p>
        <h2>Le Manifeste</h2>
        <h3>Nous rejetons : </h3>
        <p>- La <strong>surconsommation</strong> inutile d'énergie.<br><br>
         - Le contrôle du système par de grandes firmes privées. Les lobbys et leur <strong>monopole</strong> sur les ressources, services et usages du web. Le contrôle de l'accès à l'information et à la connaissance.<br><br>
        - Le non-respect de l'individu et du domaine privé, la récolte abusive des <strong>données personnelles</strong>. L'absence de visibilité et de prévention sur la conséquence de cette récolte. Le fait de ne pas avoir la main sur les données sauvegardées sur notre personne.<br><br>
        - Le tracking du nombre de likes ou de commentaires. Nous estimons que la <strong>notoriété</strong> en ligne est secondaire et qu'il n'est donc pas nécessaire de l'afficher.<br><br>
        - Les réseaux sociaux commerciaux, où la <strong>pub</strong> passe avant <strong>l'information</strong> et l'échange social et qui nous enferment au sein d'une bulle en nous proposant uniquement le contenu susceptible de nous satisfaire.<br><br>
        - La poussée à la <strong>surconsommation</strong> de vidéos ou autres produits consommant de l'énergie et du temps (Netflix, Youtube, t'as compris). Le principe de lecture automatique (automation).<br><br>
        - Le manque de <strong>transparence</strong> de nombreux·ses acteur·rice·s du web.</p><br>
        <h3>Notre nouveau système sera :</h3>
        <p>- <strong>Respectueux</strong> de notre <strong>identité numérique</strong> et de la vie de nos données.<br><br>
        - Géré et <strong>régulé de façon démocratique</strong> incluant tout·e utilisateur·rice apte dans la gestion et les autorisations de notre nouvel internet.<br><br>
        - Soumis à la suppression des données dans le temps. Il ne sera pas <strong>éternel</strong>. Le contenu en ligne depuis un certains temps, qui n'est plus consulté depuis trop longtemps serait automatiquement supprimé.<br><br>
        - Sans <strong>transactions commerciales</strong> ou conversion d'argent réel en monnaie virtuelle : pour acheter, il faudra retourner sur Internet. Tout sera gratuit et accessible à tous.<br><br>
        - Conservateur de <strong>l'aspect désirable du web,</strong> à savoir les outils de divertissement. Nous estimons que le plaisir est une dimension essentielle du web ; ainsi, il nous paraît évident de proposer différents services dédiés au divertissement avec des vidéos, des jeux en réseau, des memes, des films.<br><br>
        - Le plus <strong>léger</strong> possible. Ainsi, chaque site publié devra respecter des règles de tailles de fichiers et d'affichage de couleurs. Nous proposerons des outils permettant de publier les sites les plus légers possibles. Nous proposons également de créer des cours de technologie imposés dans les écoles, collèges et lycée : utilisation du web, écologie du web et du numérique.<br><br>
        - Basé sur un système d'énergie <strong>auto-produite</strong>. L'énergie utilisée pour publier ou héberger du contenu devra être auto-produite par la personne souhaitant mettre en ligne ses données.
        Par exemple, par un système de production d'énergie de manière mécanique (pédaler, courir, etc. durant une certaine durée), ou bien par un système d'énergie renouvelable (panneau solaire, éolienne que la personne pourrait/devrait fabriquer, acheter ou louer). Les énergies fossiles, non renouvelables ne seraient pas autorisées pour héberger du contenu.
        Pour avoir plus d'accès à des fantaisies, il faut apporter quelque chose en échange, de préférence un acte écologique. Par exemple, si tu as bien trié tes mails, tu as accès au web en couleur pendant 1 heure. Si tu as réduit tous tes fichiers photos à 1 Mo, tu peux discuter avec des personnes d'un réseau plus large.</p><br>
      </div>

  </div>

  <script src="services/c/c-js/jquery-3.4.1.min.js"></script>
  <script src="services/c/c-js/c-js.js"></script>

</body>
</html>
