<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <title>Connaissances</title>
      <link rel="stylesheet" href="../services/c/c-style.css">
      <link href="https://fonts.googleapis.com/css?family=Fira+Code:400,500&display=swap" rel="stylesheet">
</head>
<body>
<!-- WRAPPER GRID -->
  <div id="c-wrapper">

<!-- NAV PART LEFT -->
  <div id="c-part-nav"> <!-- DIV TREE + CERNES + POUSSE -->
      <a class="c-link-back" href="/c"><h1 class="c-titre-nav">C ></h1></a>
        <a class="c-link-back" href="/c/cat-tech"><h1 class="c-titre-nav">TECHNOLOGIE ></h1></a>
        <h1 class="c-titre-nav">Le Jardin</h1>
        <div class="c-img-home">
          <svg width="68" height="70" viewBox="0 0 68 70" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M8.94087 12.2029C7.10082 13.8093 4.90947 18.2602 4.03963 20.2849C3.55453 21.3892 2.65124 24.0497 2.81851 25.9405C2.98579 27.8313 2.36686 31.8807 2.03231 33.6711C0.861367 36.4822 1.12901 40.5482 1.43011 42.2215C1.17919 44.6478 6.83316 51.6755 7.90374 52.144C8.97431 52.6126 11.9519 55.6579 12.805 57.2643C13.6581 58.8706 17.9906 61.6315 19.9979 62.4514C21.6038 63.104 27.6592 64.1749 30.4862 64.6267C32.1757 65.0283 35.7554 64.108 37.3278 63.5893C38.5489 63.5893 40.1548 61.2299 42.0451 61.1965C43.9353 61.163 48.1674 57.2978 48.8533 56.5782C49.4053 56.0093 51.8308 53.0643 52.9683 51.6755C57.5851 48.0612 62.1685 38.5068 62.1351 37.9714C62.1016 37.5363 62.3693 36.6495 62.4864 36.2479C63.4231 34.9595 62.202 26.5764 61.2652 25.974C60.3285 25.3716 59.3248 22.4266 59.1241 20.5358C58.9568 19.0132 57.0499 16.1518 56.1131 14.9136C55.1763 12.9057 48.9871 7.96952 48.4518 7.6516C47.9165 7.33368 44.9724 5.61021 43.9687 4.75684C42.9651 3.90347 41.8276 3.90347 40.4559 2.74891C39.101 1.61108 35.2703 1.20947 34.0492 1.20947H28.3618C23.4271 1.20947 23.7784 1.71146 21.8881 1.99592C19.9979 2.28037 17.7397 4.5393 17.2713 4.92415C16.8029 5.32574 13.6581 8.10338 13.2232 8.35437C12.805 8.6221 11.2326 10.195 8.94087 12.2029Z" stroke="#F2662C" stroke-width="3"/>
  </svg>
  <a href="/c/technologies-tuto"> <svg class="c-cerne-deux" width="102" height="105" viewBox="0 0 102 105" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path id="c-cerne-deux" d="M13.7055 18.9546C10.7447 21.5482 7.18169 28.76 5.77656 32.0397C5.00709 33.8133 3.53503 38.1304 3.80267 41.1925C4.07032 44.2546 3.06666 50.7971 2.53138 53.6919C0.624413 58.2264 1.07604 64.8024 1.54442 67.5299C1.14295 71.4621 10.293 82.8069 12.0327 83.5598C13.7724 84.3128 18.5733 89.2323 19.9617 91.8426C21.3501 94.4529 28.359 98.9038 31.6042 100.242C34.197 101.313 43.9994 103.037 48.5661 103.773C51.2927 104.426 57.0805 102.92 59.6231 102.1C61.597 102.1 64.1898 98.2847 67.2677 98.2178C70.3289 98.1676 77.1706 91.9095 78.2746 90.7549C79.1612 89.8346 83.0754 85.0825 84.9322 82.8236C92.4095 76.9839 99.8199 61.5228 99.753 60.6527C99.7028 59.9499 100.121 58.5109 100.338 57.8751C101.844 55.7835 99.8701 42.2466 98.3646 41.2594C96.8591 40.2722 95.2365 35.5201 94.8852 32.458C94.6009 29.9983 91.523 25.38 90.0175 23.3721C88.512 20.1259 78.4921 12.1444 77.6222 11.6257C76.7524 11.107 72.0017 8.32934 70.3791 6.94052C68.7565 5.5517 66.8997 5.5517 64.7084 3.69436C62.5003 1.83703 56.3111 1.20117 54.3372 1.20117H45.1369C37.1411 1.20117 37.7265 2.00436 34.6486 2.47288C31.5875 2.9414 27.9241 6.58913 27.1713 7.22498C26.4186 7.86082 21.3166 12.3787 20.6308 12.7803C19.9617 13.1651 17.4023 15.7085 13.7055 18.9546Z" stroke="#E6FCFE" />
  </svg>
  <div class="c-pousse-label-cat" id="c-label-deux">Tutoriel</div>
  </a>
</div>
    <div><!-- DIV DANS PART NAV MAIS QUI INFO ANNEXE DE LA TEXT PART -->
        <img class="c-camera" src="../services/c/c-img/c-camera.svg" alt="appareil photo qui indique si image ou non consultable">
        <img class="c-camera-on" src="../services/c/c-img/c-camera-on.svg" alt="appareil photo qui indique une image consultable">
    </div>
    <div class="c-div-sommaire">
      <a class="c-sommaire" href="#c-presa-jardin"><h4>Présentation</h4></a>
        <a class="c-sommaire" href="#c-manifeste"><h4>Le Manifeste</h4></a>
      <a class="c-sommaire" href="#c-nav"><h4>Navigateur</h4></a>
        <a class="c-sommaire" href="#c-util"><h4>Utilitaires</h4></a>
            <a class="c-sommaire" href="#c-stockage"><h4>Stockage & Transfert</h4></a>
              <a class="c-sommaire" href="#c-nav"><h4>Messagerie</h4></a>
                <a class="c-sommaire" href="#c-reseau"><h4>Réseau Social</h4></a>
                  <a class="c-sommaire" href="#c-connaissances"><h4>Connaissances</h4></a>
                    <a class="c-sommaire" href="#c-video"><h4>Vidéo & Audio</h4></a>
                      <a class="c-sommaire" href="#c-actu"><h4>Actualités</h4></a>
                        <a class="c-sommaire" href="#c-jeux"><h4>Jeux</h4></a>
                          <a class="c-sommaire" href="#c-troc"><h4>Troc</h4></a>
    </div>

</div>
<!-- TEXT PART  RIGHT -->
      <div id="c-part-text">
        <h1 id="c-presa-jardin">Le Jardin</h1>
        <p>Avec les 50 ans d'Internet et le 30 ans du web, nous, jeunes internautes, nous sommes demandé si le web ne pouvait pas être amélioré, repensé, de manière à ce qu'il soit plus conscient des enjeux du monde actuel tel que l'écologie ou l'identité numérique. Nous sommes des étudiant·e·s en design interactif au DSAA (Diplôme Supérieur d'Arts Appliqués) du Pôle Supérieur de Design de Villefontaine. Ayant grandi avec internet, âgé·e·s entre 20 et 23 ans (tou·te·s issu·e·s de la génération Y), nous avons donc connu l'évolution du web. Tou·te·s curieux·ses et passionné·e·s de numérique, nous sommes consommateur·rice·s et parfois créateur·rice·s de contenus web. </p><br>
        <h2 id="c-manifeste">Le Manifeste</h2>
        <h3>Nous rejetons : </h3>
        <p>- La <strong>surconsommation</strong> inutile d'énergie.<br><br>
         - Le contrôle du système par de grandes firmes privées. Les lobbys et leur <strong>monopole</strong> sur les ressources, services et usages du web. Le contrôle de l'accès à l'information et à la connaissance.<br><br>
        - Le non-respect de l'individu et du domaine privé, la récolte abusive des <strong>données personnelles</strong>. L'absence de visibilité et de prévention sur la conséquence de cette récolte. Le fait de ne pas avoir la main sur les données sauvegardées sur notre personne.<br><br>
        - Le tracking du nombre de likes ou de commentaires. Nous estimons que la <strong>notoriété</strong> en ligne est secondaire et qu'il n'est donc pas nécessaire de l'afficher.<br><br>
        - Les réseaux sociaux commerciaux, où la <strong>pub</strong> passe avant <strong>l'information</strong> et l'échange social et qui nous enferment au sein d'une bulle en nous proposant uniquement le contenu susceptible de nous satisfaire.<br><br>
        - La poussée à la <strong>surconsommation</strong> de vidéos ou autres produits consommant de l'énergie et du temps (Netflix, Youtube, t'as compris). Le principe de lecture automatique (automation).<br><br>
        - Le manque de <strong>transparence</strong> de nombreux·ses acteur·rice·s du web.</p><br>
        <h3>Notre nouveau système sera :</h3>
        <p>- <strong>Respectueux</strong> de notre <strong>identité numérique</strong> et de la vie de nos données.<br><br>
        - Géré et <strong>régulé de façon démocratique</strong> incluant tout·e utilisateur·rice apte dans la gestion et les autorisations de notre nouvel internet.<br><br>
        - Soumis à la suppression des données dans le temps. Il ne sera pas <strong>éternel</strong>. Le contenu en ligne depuis un certains temps, qui n'est plus consulté depuis trop longtemps serait automatiquement supprimé.<br><br>
        - Sans <strong>transactions commerciales</strong> ou conversion d'argent réel en monnaie virtuelle : pour acheter, il faudra retourner sur Internet. Tout sera gratuit et accessible à tous.<br><br>
        - Conservateur de <strong>l'aspect désirable du web,</strong> à savoir les outils de divertissement. Nous estimons que le plaisir est une dimension essentielle du web ; ainsi, il nous paraît évident de proposer différents services dédiés au divertissement avec des vidéos, des jeux en réseau, des memes, des films.<br><br>
        - Le plus <strong>léger</strong> possible. Ainsi, chaque site publié devra respecter des règles de tailles de fichiers et d'affichage de couleurs. Nous proposerons des outils permettant de publier les sites les plus légers possibles. Nous proposons également de créer des cours de technologie imposés dans les écoles, collèges et lycée : utilisation du web, écologie du web et du numérique.<br><br>
        - Basé sur un système d'énergie <strong>auto-produite</strong>. L'énergie utilisée pour publier ou héberger du contenu devra être auto-produite par la personne souhaitant mettre en ligne ses données.
        Par exemple, par un système de production d'énergie de manière mécanique (pédaler, courir, etc. durant une certaine durée), ou bien par un système d'énergie renouvelable (panneau solaire, éolienne que la personne pourrait/devrait fabriquer, acheter ou louer). Les énergies fossiles, non renouvelables ne seraient pas autorisées pour héberger du contenu.
        Pour avoir plus d'accès à des fantaisies, il faut apporter quelque chose en échange, de préférence un acte écologique. Par exemple, si tu as bien trié tes mails, tu as accès au web en couleur pendant 1 heure. Si tu as réduit tous tes fichiers photos à 1 Mo, tu peux discuter avec des personnes d'un réseau plus large.</p><br>
        <h2 id="c-nav">Navigateur</h2>
        <p>Lorsque l’on arrive sur la page d’accueil, les différents services se superposent l’un par dessus les autres comme des strates géologiques. Le service le plus utilisé étant le plus haut, l’ordre est décroissant en fonction de son appréciation, ainsi la page d’entrée s’adapte à l'utilisateur.
          On retrouve bien cette idée d’enfouissement et de différentes couches d’utilisation dans notre navigateur.
          Les services de messagerie et l’utilitaire se situent dans la partie basse de notre navigateur, symbolisant qu’elles surgissent du sol. L’espace de stockage envoyant les fichiers au compost, se retrouve logique au plus en bas de notre écran.</p>
          <p>Chaque service est associé à un motif qui permet de créer une trame qui lui est associé. Ainsi chaque service est reconnaissable de par sa trame et son initiale. La charte graphique se base sur les signes typographiques afin d’être le plus minimal possible. Ainsi on joue sur les initiales pour représenter chaque service, les motifs ont été créer uniquement avec de signes typographiques ou des glyphes. Jouer avec des trames permet d’utiliser une seule fois un fichier très légé (entre 5 et 25 Ko).</p>
          <p>Lorsque l’on arrive sur la page d’entrée, les services sont superposées les uns par dessus les autres et prennent une place sur celle-ci proportionnel à la quantité de stockage que ces services occupent dans notre capacité de stockage. Ainsi, dès son arrivé sur notre web, l’utilisateur est sensibilisé à sa consommation de données. On lui indique le pourcentage de stockage qu’il dispose encore. L’élément de menu du stockage intègre lui aussi une jauge de stockage représentant l’espace restant, ce qui permet à l’utilisateur de toujours faire attention à ses données.</p>
        <h2 id="c-util">Utilitaires</h2>
        <h2 id="c-stockage">Stockage & Transfert</h2>
        <p>Le service de Transfert et Stockage permet d'avoir accès aux différents fichiers que l'on post et reçoit sur le Jardin et également de partager des fichiers. Ce service est une passerelle entre tous les services du Jardin. En effet,  dès que l'on va poster une photo sur les réseaux, une vidéos sur la plateforme prévu à cet effet ou mettre une image sur la messagerie, celle-ci se retrouvera sur notre Jardin Data. </p>
        <p>Notre Jardin Data n'est pas infini et nous avons une limite de stockage. Si l'on souhaite qu'un document ne prenne plus de place, il faudrat l'envoyer au compost où il ne pèsera plus rien, mais où il sera pet-être possible de retrouver le fichier grâce à une URI. En revanche si on souhaite garder un fichier de façon indéfini car il nous tiens à coeur, il faudrat l'envoyer dans l'herbier, où il sera stocké. À part dans l'herbier, il faut savoir qu'un fichier à une durée de vie qui peut être définit quand on met un fichier sur la platforme ou par défault, qui de 1 mois (de plus les durées de vie des autres services prennent le dessus). Ce service permet également de partager un fichier vient une uri ou via la messagerie.</p>
        <p>Pour être en accord avec notre philosophie de ce nouveau web, l'espace de stockage sera restreint afin d'obliger l'utilisateur à supprimer ses données où à les télécharger sur un disque dur.</p>
        <h2 id="c-messagerie">Messagerie</h2>
        <h2 id="c-reseau">Réseau Social</h2>
        <p>Le réseau social est basé sur une recherche par intérêts : il ne suggère aucun contenu, l'utilisateur doit aller chercher des tags ou utilisateurs précis. De plus, les fonctionnalités sont réduites : pas de like, pas de commentaire, mais simplement la possibilité de poster des images, s'abonner à des utilisateurs ou des tags, envoyer directement un message à la personne qui a posté.</p>
        <p>Ensuite, l'architecture du réseau est basée sur celle de la ruche, avec des rayons, des alvéoles. On rentre tout d'abord par son profil où l'on peut voir ses posts et ses abonnements. On peut ensuite visualiser les tags auxquels nous nous sommes déjà abonnés, et rechercher des tags ou des utilisateurs. Lorsque l'on poste une image, celle-ci est tramée et filtrée avec la couleur du jour, ce qui permet de donner un indicateur temporel aux utilisateurs du réseau. Enfin, dans une logique de garder le Jardin le plus léger possible, les posts sont automatiquement supprimés au bout de 7 jours sans interaction (pas de vues, de partage, de commentaires pendant sept jours consécutifs).</p>
        <h2 id="c-connaissances">Connaissances</h2>
        <p>Ce service permet l'accès aux savoirs. Il repose sur un système collaboratif ou les utilisateurs peuvent enrichir le contenu (arroser) ou bien proposer des suggestions (planter). Ainsi les utilisateurs auront besoin des connaissances de chacun pour construire leur forêt de la connaissance. </p>
        <p>La page d'accueil permet une visualisation du nombre d'arbres plantés, ceux-ci correspondant aux différentes catégories disponibles : santé, technologies, histoire... La navigation par arbre et ensuite par cerne permet une entrée dans les connaissances disponibles. L'usage du "wikipédia" de l'ancien web est repensé : l'usager pense désormais à ce qu'il peut apporter au service. Le service Connaissances centralise tous les savoirs du Jardin, tous thèmes confondus. Chacun est libre de planter les graines qu'ils souhaitent, sur n'importe quelles thématiques.</p>
        <p>Enfin, le service Connaissances permet de faire des passerelles entre les différents services du Jardin tel que le service Actualités. </p>
        <h2 id="c-video">Vidéo & Audio</h2>
        <p>Le service de vidéo - audio, comme son nom l'indique, est une plateforme de partage de contenu audio et vidéo. Sur cette plateforme vous pourrez visionner ou écouter les contenus mis en ligne par les autres jardiniers sur le serveur, qui peuvent être des contenus originaux postés par chaque personne ou alors des vidéos récupérées depuis les autres plateforme du web (youtube, dailymotion, vimeo...). Nous avons stipulé, dans notre manifeste, que nous voulions un réseau moins consommateur possible. Dans cette optique le service de vidéo s'appuie sur deux principes clef pour réduire la taille de stockage utilisée sur le serveur et la bande passante utilisée par chaque personne : un système d'hydratation du contenu, et une limite de visionnage hebdomadaire.</p>
        <h3>1 - L'hydratation du contenu</h3>
        <p>Un contenu, lorsqu'il est mis en ligne, est hydraté au maximum et dispose donc de tout ses points d'hydratation (70). Au fur et à mesure que le temps passe, le contenu va se déshydrater : ses points d'hydratations baissent de 5 par jour pour une vidéo, 2 par jour pour une musique. Ainsi quand un contenu n'a plus de point d'hydratation, il est effacé du serveur.</p>
        <p>Cependant les contenus n'auront pas tous la même durée : chaque personne a le pouvoir de réhydrater le contenu ! Pour ce faire, chaque jardinier dispose d'un nombre de goutte, qui se remplit progressivement au cour de la semaine, et peut réhydrater un contenu si il l'apprécie. Ainsi 1 goutte dépensée = 1 point d'hydratation sur le contenu, chaque personne pouvant ajouter autant de goutte qu'il le souhaite sur un même contenu.</p>
        <p>Ainsi, si je regarde un contenu qui n'a plus que 2 points d'hydratation, je peux le réhydrater avec 5 de mes gouttes , et ainsi décaler sa disparition d'une semaine. </p>
        <h3>2 - Limite de visionnage hebdomadaire</h3>
        <p>Chaque personne dispose d'une limite de visionnage hebdomadaire, qui se manifeste par une jauge de visionnage située au bord de l'écran. Cette barre diminue au fur et à mesure que vous regardez des contenus, et se remplit progressivement en remontant un peu chaque jour. Cependant cette barre ne diminue pas de la même manière pour chaque personne, puisqu'elle diminue selon le niveau de qualité que vous sélectionnés pour chaque contenus. En effet quand vous sélectionnez  un contenu, vous aurez le choix entre plusieurs qualités pour le même contenu : une version audio (podcast), une vidéo basse-résolution et une vidéo haute-résolution. En fonction de la qualité choisie, la jauge baissera en fonction : un audio ne diminuera que très peu la jauge de visionnage, alors qu'une vidéo HD la fera diminuer bien plus. </p>
        <p>Une troisième option permet cependant d'échapper aux deux contraintes ci-dessous : un partage de contenu par peer-to-peer (P2P). En effet pour accéder à un contenu en très haute résolution et sans dépenser de points de visionnage on peut aussi accéder au contenu via le P2P, et récupérer le dit contenu depuis ordinateur de la personne qui l'a mis-en-ligne. De la même façon, si un contenu a été effacé du serveur, mais qu'il est toujours accessible en P2P, on pourras quand même le consulter.</p>
        <h2 id="c-actu">Actualités</h2>
        <h2 id="c-jeux">Jeux</h2>
        <p>Sur ce web plutôt sérieux, le module des jeux vidéos vient s'intégrer comme un parasite. En effet, au bout d'un certain temps passé sur les autres services, une petite bête vient parfois se balader sur notre écran pour nous inviter à se détendre pendant quelques instants.</p>
        <p>Afin de limiter le stockage d'une trop grande quantité de données, le nombre de jeux proposés est très limité : un jeu toute les 12h, plus la possibilité de garder un jeu en favori. Ainsi s'instaure sur l'espace un cycle jour/nuit, proposant des jeux qui s'adaptent plus ou moins en fonction du moment ou l'on joue (des jeux plutôt calme ou d'horreur la nuit, des jeux dynamiques ou plus amusant le jour par exemple). L'interface s'adapte elle aussi en fonction du jour et de la nuit (couleurs sombres la nuit, couleurs claires le jour), tout comme la petite bête symbolisant le service : une araignée pour la nuit, une coccinelle pour le jour.</p>
        <h2 id="c-troc">Troc</h2>

      </div>

  </div>

  <script src="../services/c/c-js/jquery-3.4.1.min.js"></script>
  <script src="../services/c/c-js/c-js.js"></script>

</body>
</html>
