<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <title>Connaissances</title>
      <link rel="stylesheet" href="../services/c/c-style.css">
      <link href="https://fonts.googleapis.com/css?family=Fira+Code:400,500&display=swap" rel="stylesheet">
</head>
<body>
<!-- WRAPPER GRID -->
  <div id="c-wrapper">

<!-- NAV PART LEFT -->
  <div id="c-part-nav"> <!-- DIV TREE + CERNES + POUSSE -->
      <a class="c-link-back" href="/c"><h1 class="c-titre-nav">C ></h1></a>
        <a class="c-link-back" href="/c/cat-tech"><h1 class="c-titre-nav">TECHNOLOGIE ></h1></a>
        <h1 class="c-titre-nav">Tutoriel</h1>
        <div class="c-img-home">
          <svg width="68" height="70" viewBox="0 0 68 70" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M10.9409 14.2029C9.10082 15.8093 6.90947 20.2602 6.03963 22.2849C5.55453 23.3892 4.65124 26.0497 4.81851 27.9405C4.98579 29.8313 4.36686 33.8807 4.03231 35.6711C2.86137 38.4822 3.12901 42.5482 3.43011 44.2215C3.17919 46.6478 8.83316 53.6755 9.90374 54.144C10.9743 54.6126 13.9519 57.6579 14.805 59.2643C15.6581 60.8706 19.9906 63.6315 21.9979 64.4514C23.6038 65.104 29.6592 66.1749 32.4862 66.6267C34.1757 67.0283 37.7554 66.108 39.3278 65.5893C40.5489 65.5893 42.1548 63.2299 44.0451 63.1965C45.9353 63.163 50.1674 59.2978 50.8533 58.5782C51.4053 58.0093 53.8308 55.0643 54.9683 53.6755C59.5851 50.0612 64.1685 40.5068 64.1351 39.9714C64.1016 39.5363 64.3693 38.6495 64.4864 38.2479C65.4231 36.9595 64.202 28.5764 63.2652 27.974C62.3285 27.3716 61.3248 24.4266 61.1241 22.5358C60.9568 21.0132 59.0499 18.1518 58.1131 16.9136C57.1763 14.9057 50.9871 9.96952 50.4518 9.6516C49.9165 9.33368 46.9724 7.61021 45.9687 6.75684C44.9651 5.90347 43.8276 5.90347 42.4559 4.74891C41.101 3.61108 37.2703 3.20947 36.0492 3.20947H30.3618C25.4271 3.20947 25.7784 3.71146 23.8881 3.99592C21.9979 4.28037 19.7397 6.5393 19.2713 6.92415C18.8029 7.32574 15.6581 10.1034 15.2232 10.3544C14.805 10.6221 13.2326 12.195 10.9409 14.2029Z" stroke="#E6FCFE" stroke-width="6"/>
  </svg>

</div>
    <div><!-- DIV DANS PART NAV MAIS QUI INFO ANNEXE DE LA TEXT PART -->
        <img class="c-camera" src="../services/c/c-img/c-camera.svg" alt="appareil photo qui indique si image ou non consultable">
        <img class="c-camera-on" src="../services/c/c-img/c-camera-on.svg" alt="appareil photo qui indique une image consultable">
    </div>
    <div class="c-div-sommaire">
      <a class="c-sommaire" href="#c-presa-jardin"><h4>Présentation</h4></a>

    </div>

</div>
<!-- TEXT PART  RIGHT -->
      <div id="c-part-text">
        <h1 id="c-presa-jardin">LE TUTO</h1>


      </div>

  </div>

  <script src="../services/c/c-js/jquery-3.4.1.min.js"></script>
  <script src="../services/c/c-js/c-js.js"></script>

</body>
</html>
