$vf: #038090;

*{
  box-sizing: border-box;
}

/* On crée le contenant de tous vos "écrans" */

.t-goto-page1, .t-goto-page2, .t-goto-page3, .t-goto-page4, .t-goto-page5, .t-goto-page6{
  cursor: pointer;
}

.t-content {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.t-page {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:none;
}

.t-page1 {
  display:block;
}

body{
  background-color: white;
  font-family: 'Faune';
  overflow: hidden;
}

::selection {
	background: $vf;
	color:#fff;
}

/////////////menu

.t-Menu{
  width:66vw;
  margin: auto;
  text-align: center;
  margin-top: 16vh;
  font-size: 1.8em;
}

.t-menu-border{
  border-bottom: 2px solid $vf;
  width: 66vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16vh;
}

//////////explore

#t-containerContainer{
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content:space-around;
  max-height:100vh;
  max-width: 100vw;
  position: absolute;
  margin: 0;
  padding: 0 8vw 8vw 8vw;
  background-image: url("/img/map.png");
  background-position: top;
  background-size: contain;
}

#t-Container1{
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-flex: 1 auto;
	flex: 0 0 25vw;
}
#t-Container2{
  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-flex: 1 auto;
	flex: 0 0 25vw;
}
#t-Container3{

  height: 100vh;
  margin: 0;
  padding: 0;
  -webkit-flex: 1 auto;
	flex: 0 0 25vw;
}


.t-IconeMenu{
  position: absolute;
  z-index: 4;
  margin: 3vh;
  text-decoration: none;
  font-size: 1.5em;
  top: 0vh;
}

// .t-Categories{
//   position: absolute;
//   z-index: 4;
//   top:5vh;
//   right: 4vh;
//   width: 50vh;
//   height: auto;
//   display: flex;
//   flex-direction: column;
//   flex-wrap:wrap;
//   justify-content: flex-start;
//   align-items: flex-start;
//   align-content: center;
//   border: 2px solid red;
// }
//
// .t-Item1, .t-Item2, .t-Item3, .t-Item4{
//     width: 20vh;
//     height: 20vh;
//     margin: 1.5vh;
//     border: solid 1px red;
// }
//
// .t-Item1{
//     background-image: url("img/shirt0.png");
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
// }
// .t-Item2{
//     background-image: url("img/candle0.png");
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
// }
// .t-Item3{
//     background-image: url("img/couch0.png");
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
// }
// .t-Item4{
//     background-image: url("img/leaf0.png");
//     background-position: center;
//     background-size: contain;
//     background-repeat: no-repeat;
// }

////////////////////////FichePerso

.t-BoldItalic{
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 5px;
}

#t-Scroll{
  overflow: scroll;
  position: absolute;
  background-color: #CCCCCC;
  top: 0px;
  height: 100vh;
  width: 25vw;
  margin: 0px;
  margin-left: 75vw;
  padding: 4vw;
}

.t-Icone{
  position: relative;
  text-align: center;
  font-size: 3em;
  width:15vw;
  padding-bottom: 4vh;
  color: #fff;
}

.t-SousTitreIcone{
  text-align: center;
  position: relative;
  padding: 1vh;
  padding-bottom: 10vh;
  width:15vw;
  color: #fff;
}

.t-Titre{
  font-size: 2em;
  font-weight: bold;
}

.t-SousTitre{
  font-size: 0.8em;
  color:$vf;
  padding-bottom: 5vh;
}

.t-Description{
  font-size: 2em;
  width: 40vw;
  height:50vh;
  margin-top: 50vh;
  margin-left: 16.5vw;
  transform: translateY(-50%);
}

/////////////////////////////Chercher


/////////////////////////////Fiche Produit - page 5
.t-etat{
  font-style: italic;
  font-size: 1.3em;
}

.t-date{
  font-style: italic;
  font-size: 1.5em;
  writing-mode: vertical-rl;
  text-orientation: sideways;
}

.t-parent {
  height: 100vh;
  padding-top: 1vh;
  padding-left: 16vh;
  padding-right: 16vh;
  display: grid;
  grid-template-columns: 1fr 5vw repeat(2, 1fr);
  grid-template-rows: 5vh repeat(2, 1fr) 7vh;
  grid-column-gap: 3vw;
  grid-row-gap: 2vh;
}

.t-div1 { grid-area: 1 / 1 / 2 / 2;}
.t-div2 {
  grid-area: 2 / 1 / 4 / 2;
  position: relative;
  background-image: url("/img/t-shirt.png");
  background-size: cover;
  background-position: center;}
.t-div3 { grid-area:  3 / 2 / 4 / 3;}
.t-div4 { grid-area:  4 / 1 / 5 / 2;}
.t-div5 { grid-area:  2 / 3 / 3 / 5;}
.t-div6 { grid-area: 3 / 3 / 4 / 5;}

.t-titreObjet{
  font-size: 2.5em;
  font-weight: 900;
  padding-bottom: 3vh;
}

.t-description{
  font-size: 1.8em;
  padding-bottom: 2vh;
}

.t-bouton{
  width:10vw;
  height: auto;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 2vh;
  padding: 2vh;
  font-style: italic;
  font-size: 1.3;
  text-align: center;

}

.t-sousTitre{
  font-size: 2em;
  font-weight: 900;
  text-align: center;
}

.t-localisation{
  font-size: 1em;
  text-align: center;
}


.anychart-credits{
  display: none !important;
}
