@font-face {
	font-family: "Grotesk";
	src: url('HKGrotesk-Medium.otf');
}
@font-face {
	font-family: "Grotesk";
	font-style: italic;
	src: url('HKGrotesk-MediumItalic.otf');
}
@font-face {
	font-family: "Grotesk";
	font-weight: bold;
	src: url('HKGrotesk-Bold.otf');
}

@media (max-width: 1920px) {
  #fenetre {
		width: 463px;
		height: 535.55px;
  }

	#fenetreChat {
		width: 463px;
		height: 535.55px;
	}
}

@media (max-width: 1536px) {
	  #fenetre {
			width: 370.4px;
			height: 0px;
	}

	#fenetreChat {
		width: 370.4px;
		height: 0px;
}
}

body {
height:100%;
margin: 0;
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 12px;
grid-row-gap: 12px;
}

.m-footer {
	position:absolute;
	bottom:0;
	right:0;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(12, 1fr);
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	z-index: 10

}

form {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: solid 2px;
}

#text {
		border: 0;
		font-family: "Grotesk";
}

.m-tab {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
  overflow: hidden;
  border:0;
	display: grid;
	grid-template-columns: repeat(7, 1fr) 0.3fr repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
	z-index:777;
}

.m-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  width: 3em;
	height: 3em;
  transition: 0.3s;
	padding: 0;
}

#buttonChat {
background:url(Pousse-fermee.svg) no-repeat;
cursor:pointer;
border: 0;
}

#buttonGeneral {
	background:url(Pousse-ouverte.svg) no-repeat;
	cursor:pointer;
	border: 0;
	grid-area: 1 / 9 / 2 / 11; ;
}

#buttonHub {
	background:url(Pousse-perso.svg) no-repeat;
	cursor:pointer;
	border: 0;
	grid-area: 1 / 10 / 2 / 11; ;
}

#fenetre {
	border: solid 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: "Grotesk";
	position: relative;
	padding: 2px;
	padding-top: 0px;
	/*grid-area: 6 / 10 / 11 / 13;*/
	bottom:0;
}

#fenetreChat {
	border: solid 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: "Grotesk";
	position: relative;
	padding: 2px;
	padding-top: 0px;
	/*grid-area: 6 / 10 / 11 / 13;*/
	bottom:0;
	transition: 0.5s;
}

.m-divBlock {
		grid-area: 6 / 10 / 13 / 13;
}

.m-content {
  position:relative;
	bottom:0;
	z-index: 11;
}

.m-page {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:auto; /* Pour scroller dans vos pages s'il y a beaucoup de contenu */
  display:none; /* Par défaut, on cache TOUS les "écrans" */
	z-index:11;
}

.m-hub {
	display:block;
	position: relative;
	z-index: 0;
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.m-hub .m-header {
	display: grid;
	grid-template-columns: 0.5fr 5fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 12px;
}

.m-hub .m-header form {
	grid-area: 1 / 2 / 2 / 3;
	width: 100%;
	margin-block-start: 1em;
	margin-block-end: 0.5em;
}

.m-hub .m-header form input {
	padding: 5px;
	width: 100%;
}

#linkFlowerHub {
	grid-area: 1 / 3 / 2 / 4;
	width: 35px;
	height: 32px;
}

.m-listContainer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 12px;
	height: 85%;
	margin-left: 10px;
	margin-right: 10px;
}

#lineGrid {
	display: grid;
	grid-template-columns: 0.3fr 6fr 0.3fr;
	grid-template-rows: 1fr;
	grid-column-gap: 12px;
	grid-row-gap: 0px;
}

.leftLineButton {
	grid-area: 1 / 1 / 2 / 2;
}

#lineGridFlowers {
	grid-area: 1 / 2 / 2 / 3;
	display: grid;
	grid-template-columns: repeat(5, 50px);
	grid-template-rows: 111.917px;
	grid-column-gap: 10px;
	grid-row-gap: 0px;
}

#flwr1 { grid-area: 1 / 1 / 2 / 2; }
#flwr2 { grid-area: 1 / 2 / 2 / 3; }
#flwr3 { grid-area: 1 / 3 / 2 / 4; }
#flwr4 { grid-area: 1 / 4 / 2 / 5; }
#flwr5 { grid-area: 1 / 5 / 2 / 6; }

/*#flwr1 { grid-area: 1 / 1 / 2 / 2; }
#flwr2 { grid-area: 1 / 2 / 2 / 3; }
#flwr3 { grid-area: 1 / 3 / 2 / 4; }
#flwr4 { grid-area: 1 / 4 / 2 / 5; }
#flwr5 { grid-area: 1 / 5 / 2 / 6; }
#flwr6 { grid-area: 1 / 6 / 2 / 7; }*/


.m-userbox {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 20px;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100%;
	width: 100%;
}

.m-lineGroup .m-userboxFlwr {
	background:url(pousse-ouverte.svg) no-repeat;
	background-size:100%;
	background-position:bottom;
}

.m-lineConnected .m-userboxFlwr {
	background:url(pousse-fermée.svg) no-repeat;
	background-size:100%;
	background-position:bottom;
}

.m-friendList .m-userboxFlwr {
	background:url(pousse-absent.svg) no-repeat;
	background-size:100%;
	background-position:bottom;
}

.m-userboxFlwr {
	grid-area: 1 / 1 / 2 / 2;
	width:100%;
	height:91px;
	bottom:0;
}
.m-userboxName {
	grid-area: 2 / 1 / 3 / 2;
	height:100%;
	font-family: "Grotesk";
	font-size: 8px;
	text-align: center;
	width: 50px; /* the element needs a fixed width (in px, em, %, etc) */
	overflow: hidden; /* make sure it hides the content that overflows */
	white-space: nowrap; /* don't break the line */
	text-overflow: ellipsis; /* give the beautiful '...' effect */
}

.rightLineButton { grid-area: 1 / 3 / 2 / 4; }

.m-listContainer .m-lineGroup { grid-area: 1 / 1 / 2 / 2; }
.m-listContainer .m-lineConnected { grid-area: 2 / 1 / 3 / 2; }
.m-listContainer .m-friendList { grid-area: 3 / 1 / 4 / 2; }







.m-chatContainer{
			z-index:0;
			transition: 0.5s;
}

.m-chatContainer .m-chatHeader {
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
	background: white;
	height: auto;
	z-index:auto;
}

#m-retour {
	grid-area: 1 / 1 / 2 / 2;
	width: 35px;
	height: 35px;
	cursor: pointer;
}

.m-chatContainer .m-chatHeader h3{
		display: block;
    font-size: 1.17em;
		grid-area: 1 / 2 / 2 / 3;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
			z-index:0;
	}

.m-chatContainer .m-chatMessages{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;
	grid-column-gap: 12px;
	grid-row-gap: 12px;
	height: 73%;
	overflow-y: scroll;
	overflow: auto;
	position: relative;
	z-index: 0;
}

#m-usernametop {
		font-weight: bold;
}

.m-usernames{
	grid-area: 1 / 1 / 2 / 2;
}

.m-messages{
	grid-area: 1 / 2 / 2 / 3;
		margin-right: 10px;
}

.m-drawerChat {
		width: 94%; /*92*/
		height: 3.6%;
		margin-left: 10px;
		position: absolute;
		bottom:55px;
		left:2px;
		right:0;
		z-index:2;

			transition: all 0.3s ease;
}

.m-drawerClosed {
	background:url(barre-superieure.svg) no-repeat;
	display: grid;
	grid-template-columns: 15px repeat(3, 1fr) 2fr repeat(3, 1fr) 15px;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	width: 100%;
	height: 15px;
	padding: 0;
}

.m-drawerOpened {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #1e1816;
	bottom:0;
	overflow: hidden;
	transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
}

#m-drawerOpened {
		height:0%;
		border-left: solid 2px;
		border-right: solid 2px;

}

.m-contentDrawer {
  position:relative;
	bottom:0;
}

.m-pageDrawer {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow:auto;
  display:none;
}

.m-drawerSmiley{
	width: auto;
	height: auto;
	position: relative;
}

#drawerScreen {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: "Grotesk";
	position: relative;
	padding: 2px;
	padding-top: 0px;
	/*grid-area: 6 / 10 / 11 / 13;*/
	bottom:0;
	width:345px;
	height:304px;
}

.m-drawerSmiley .m-drawerSmileyScreen{
	display: grid;
	grid-template-columns: repeat(10, 28px);
	grid-template-rows: repeat(10, 28px);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 280px;
	position: absolute;
	z-index: 0;
	margin :10px;
	margin-left : 29px;
	width: 280px;
}

.m-chatFooter {
		width: 95%; /*92*/
		height: 11%;
		margin-left: 10px;
		position: relative;
		z-index: 2;
}


.m-chatContainer form {
	padding: 3px;
	margin:0;
	width: 100%;
}

.m-chatContainer form button {
	background:url(bee.svg) no-repeat;
	cursor:pointer;
	border: 0;
	width: 21px;
	height: 21px;
	padding: 0;
	margin-left: 10px;
	position: absolute;
}

.m-chatContainer form input {
	border: 0;
	margin:0;
	padding: 3px;
	width: 90%; /*93*/
	height: 20px;
}


#messages {
	list-style-type: none; margin: 0; padding: 0;
	z-index: -12;
}
#messages li {
	padding: 5px 10px;
}
#messages li:nth-child(odd) {
	background: #eee;
}
#messages {
	margin-bottom: 20px;
	margin-left: 10px;
}

.m-btn1 {
	cursor:pointer;
	grid-area: 1 / 2 / 2 / 3;
	background:url(icone-emoji.svg) no-repeat;
	background-position: center;
}
.m-btn2 {
	text-align: center;
	margin-top: 1px;
	font-size:9px;
	grid-area: 1 / 3 / 2 / 4;
		cursor:pointer;
}
.m-btn3 {
	grid-area: 1 / 4 / 2 / 5;
	background:url(Photo.svg) no-repeat;
	background-position: center;
	background-size:contain;
		cursor:pointer;
}
.m-toggledrawer {
	grid-area: 1 / 5 / 2 / 6;
	cursor:pointer;
}
.m-btn4 {
	grid-area: 1 / 6 / 2 / 7;
	background:url(Graine.svg) no-repeat;
	background-position: center;
	background-size:contain;
		cursor:pointer;
}
.m-btn5 {
	grid-area: 1 / 7 / 2 / 8;
	background:url(Recherche.svg) no-repeat;
	background-position: center;
	background-size:contain;
		cursor:pointer;
}
.m-btn6 {
	grid-area: 1 / 8 / 2 / 9;
	background:url(Herbier.svg) no-repeat;
	background-position: center;
	background-size:contain;
		cursor:pointer;
}
