<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> <!-- pour mobile -->

		<link rel=stylesheet href="services/v/css/master.css" type="text/css" media="all">

		<title> Video - Audio </title>

		<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
		<script src="services/v/js/main.js"></script>
</head>
<body>

 <div id="v">
<!-------------------------------------------------------------------------------------->
<!------------------------------------------------------------------- FIXED UI ---->
<!-------------------------------------------------------------------------------------->

    <!--------------------------------------------------------------- VIEWING BAR -->

        <div id="v-bar">
            <div id="v-level">

            </div>
            <img src="services/v/icons/picto_eye.svg">
        </div>
    <!-- End of Viewing bar -->



    <!--------------------------------------------------------------- NAV -->
        <header>
            <div id="v-research" class="v-hide">
                <form id="v-form_bar">
                    <input type="search"  id="v-search_big" placeholder="Tapez un mot-clef !"/>
                    <button> Connaissance </button>
                    <button> Divertissement </button>
                    <button> Musique </button>
                </form>
            </div>

            <div id="v-reading_list">

            </div>

            <a><img id="v-search_go" src="services/v/icons/nav_search.svg" /></a>
            <a><img src="services/v/icons/nav_bucket.svg" /></a>
            <a id="v-import_open"><svg  width="56" height="49" viewBox="0 0 56 49" xmlns="http://www.w3.org/2000/svg">
                <path class="v-color_blue" d="M31.5792 20.3813C32.3225 20.7602 33.0658 20.9631 33.8092 20.9902C34.9929 21.0443 36.0253 20.8616 36.9062 20.4422C37.7872 20.0227 38.5167 19.4679 39.0949 18.7778C39.673 18.0877 40.2167 17.3908 40.726 16.6872C41.2353 15.9836 41.8478 15.3273 42.5636 14.7184C43.2794 14.1095 44.0915 13.7238 45 13.5614C43.9263 12.9931 43.128 12.5804 42.6049 12.3233C42.0818 12.0662 41.3936 11.755 40.5402 11.3896C39.6868 11.0243 38.971 10.8078 38.3929 10.7401C37.8147 10.6725 37.1334 10.6386 36.3488 10.6386C35.5642 10.6386 34.7933 10.7672 34.0363 11.0243C33.2792 11.2814 32.474 11.64 31.6205 12.1C29.4457 13.3179 28.7024 15.1581 29.3906 17.6209V17.6615C27.5186 18.771 26.2247 20.0701 25.5089 21.5585C24.9583 20.7196 24.4077 20.0971 23.8571 19.6912C23.1138 19.1499 22.0952 18.5139 20.8013 17.7832C21.0766 17.1879 21.2143 16.5519 21.2143 15.8753C21.2143 15.0364 21.0353 14.2786 20.6775 13.602C20.1544 12.5736 19.4661 11.7888 18.6127 11.2475C17.7593 10.7063 16.8646 10.3748 15.9286 10.253C14.9926 10.1312 14.0565 10.0432 13.1205 9.98912C12.1845 9.935 11.2485 9.75909 10.3125 9.4614C9.37649 9.16371 8.60565 8.67657 8 8C8 8.92014 8.00688 9.60348 8.02065 10.05C8.03441 10.4966 8.05506 11.0987 8.08259 11.8565C8.11012 12.6142 8.17206 13.1961 8.26842 13.602C8.36477 14.008 8.49554 14.5154 8.66071 15.1243C8.82589 15.7332 9.03925 16.2271 9.30078 16.606C9.56231 16.9849 9.87891 17.4111 10.2506 17.8847C10.6222 18.3583 11.0696 18.7846 11.5926 19.1635C12.1157 19.5423 12.7076 19.9077 13.3683 20.2595C15.378 21.3691 17.2775 21.2067 19.067 19.7724C20.7188 20.5031 22.1228 21.5315 23.279 22.8575C23.6644 24.0483 23.8571 25.1579 23.8571 26.1863C23.8571 26.9982 23.747 27.8642 23.5268 28.7843H14.6071C14.2493 28.7843 13.9395 28.9129 13.678 29.17C13.4165 29.4271 13.2857 30.0833 13.2857 30.0833C13.2857 30.0833 13.3683 38 25.5089 38C36.9062 38 38.163 30.0833 38.163 30.0833C38.163 29.7315 38.0323 29.4271 37.7707 29.17C37.5092 28.9129 37.1995 28.7843 36.8416 28.7843H27.3672C26.7891 27.6206 26.5 26.7546 26.5 26.1863C26.5 25.2391 26.9887 24.2107 27.966 23.1011C28.9433 21.9915 30.0513 21.0173 31.2902 20.1783C31.3177 20.1783 31.359 20.2054 31.4141 20.2595C31.4691 20.3136 31.5242 20.3542 31.5792 20.3813Z"/>
                <path class="v-color_blue" d="M37 36.8075V39.1301H41.4299V44H43.5701V39.1301H48V36.8075H43.5701V32H41.4299V36.8075H37Z"/>
                <rect x="0.5" y="0.5" width="55" height="48" fill="none" stroke="#142585"/>
                </svg></a>
            <a id="v-theme"><object type="image/svg+xml" data="services/v/icons/nav_theme.svg"></object></a>
            <a><img src="services/v/icons/nav_drops.svg" /></a>
        </header>
    <!-- End of NAV -->


<!-------------------------------------------------------------------------------------->
<!--------------------------------------------------------------------------- WRAPPER ---->
<!-------------------------------------------------------------------------------------->
    <div id="v-wrapper">

        <!---------------------------------------------------------- 01 - Big search bar -->
            <div id="v-research_home">
                <form>
                    <input type="search" id="v-search" placeholder="Tapez un mot-clef !"/> <img src="services/v/icons/picto_search.svg">
                    <button type="button"> Connaissance </button> <button type="button"> Divertissement </button> <button type="button"> Musique </button>
                </form>
            </div>
        <!-- END OF 01 - Big search bar -->


        <!----------------------------------------------------------- 02 - Item grid -->
            <div id="v-grid">
                <h2>La récolte du jour</h2>

                <div id="v-category_name">
                    <h3> Connaissance </h3>
                    <h3> Divertissement </h3>
                    <h3> Musique </h3>
                </div>

                <div id="v-results">

                    <div id="v-cat-knowledge">
                    </div>

                    <div id="v-cat-entertainment">
                    </div>

                    <div id="v-cat-music">
                    </div>

                </div> <!-- END OF RESULTS BLOC -->

                <div id="v-gardeners">
                    <h3> Jardiniers </h3>

                    <div>

                    </div>
                </div>
            </div>
        <!-- END OF 02 - Item grid -->



        <!----------------------------------------------------------- 03 - Content info -->
            <div class="v-hide" id="v-info_content">
                <div id="v-info_1">
                    <h4 id="v-content_category" > </h4>
                    <h5 id="v-content_subcategory"> </h5>
                    <img id="v-state" src="services/v/icons/2_state.svg"/>
                    <hr id="v-background_bar"/>
                    <hr id="v-hydratation_bar"/>
                </div>

                <div id="v-info_2">
                    <p id="v-content_title"></p>
                    <p id="v-separator">  |  </p>
                    <p id="v-content_album"> </p>
                    <p id="v-content_author"></p>
                </div>

                <div id="v-info_3">
                    <img id="v-drops_plus" src="services/v/icons/button_drops-plus.svg"/>
                    <div>
                        <img id="v-bucket_add" src="services/v/icons/picto_bucket-plus.svg"/>
                        <button id="v-share"> Partager </button>
                    </div>

                </div>


            </div>
        <!-- End of 03 - Content info  -->


        <!----------------------------------------------------------- 04 - Content Media -->
            <div class="v-hide" id="v-content_media">
                <div class="v-quality_choice" id="v-quality_choice_video">
                    <button> Audio </button>
                    <button> Vidéo 240p </button>
                    <button> Vidéo 720p </button>
                    <img src="services/v/icons/picto_p2p.svg" alt="peer to peer">
                </div>

                <div class="v-hide v-quality_choice" id="v-quality_choice_music">
                    <button> Qualité Basse </button>
                    <button> Qualité Moyenne </button>
                    <button> Qualité Haute </button>
                    <img src="services/v/icons/picto_p2p.svg" alt="peer to peer">
                </div>

                <div id="v-content">

                    <figure>
                        <img src="services/v/img/img_album.jpg" alt="album"/>
                    </figure>

                    <div>

                        <p> Veuillez sélectionner un mode de visionnage !</p>

                        <!-- CONTENT = MUSIC-->
                        <img src="services/v/img/img_music_visu.jpg"/>
                        <audio class="v-hide" controls>
                                <source src="" type="audio/mp3">
                        </audio>


                        <!-- CONTENT = VIDEO-->
                        <video class="v-hide" controls>
                                <source preload="none" src="" type="video/mp4">
                        </video>


                    </div>
                </div>


            </div>
        <!-- End of 04 - Content Media -->


        <!----------------------------------------------------------- 05 - Profile info -->
            <div class="v-hide" id="v-info_profile">
                <div>
                    <h5 id="v-subcategory"> Rock </h5>
                    <hr id="v-background_bar"/>
                    <p id="v-profile_author">Yonaka</p>
                    <p id="v-separator">  |  </p>
                    <p id="v-content_year"> 2019 </p>
                </div>

                <div>
                    <button> Ajouter le prochain contenu
                        <img src="services/v/icons/picto_bucket.svg" alt="bucket icon">
                    </button>
                </div>
            </div>
        <!-- End of 05 - Profile info  -->


        <!----------------------------------------------------------- 06 - Profile Content -->
            <div class="v-hide" id="v-content_profile">
               <div id="v-profile_bar">
                    <figure>
                            <img src="services/v/img/profile_pic.jpg" alt="profile pic"/>
                    </figure>

                    <div id="v-musician_album">
                        <h3> Albums </h3>

                    <!-- album item -->
                        <div class="v-album_item">
                            <p class="v-title">Bubblegum</p>
                            <p class="v-author">2016</p>
                        </div>

                     <!-- album item -->
                        <div class="v-album_item">
                            <p class="v-title">Teach Me how to fight EP</p>
                            <p class="v-author">2019</p>
                        </div>

                    </div>
               </div>


               <div id="v-profile_grid" >
                   <!-- item content -->
                   <div class="v-item">
                        <p class="v-duration">2:32min</p>
                        <img src="services/v/icons/3_state.svg">
                        <hr/>
                        <p class="v-title">Délicieux gâteau aux noix et au miel</p>
                        <p class="v-author">YouCook</p>
                    </div>

                <!-- item content -->
                    <div class="v-item">
                        <p class="v-duration">3:32min</p>
                        <img src="services/v/icons/1_state.svg">
                        <hr/>
                        <p class="v-title">Des oeuvres qui ont survécu a l’incendie de Notre-Dame !</p>
                        <p class="v-author">Des Racines et des ailes </p>
                    </div>

                <!-- item content -->
                    <div class="v-item">
                        <p class="v-duration">1:30:32min</p>
                        <img src="services/v/icons/2_state.svg">
                        <hr/>
                        <p class="v-title">Cédric Villani - 1/7 La théorie synthétique de la courbure de Ricci</p>
                        <p class="v-author">Institut des Hautes Études Scientifiques (IHÉS)</p>
                    </div>

                  <!-- item content -->
                  <div class="v-item">
                        <p class="v-duration">1:30:32min</p>
                        <img src="services/v/icons/0_state.svg">
                        <hr/>
                        <p class="v-title">Cédric Villani - 1/7 La théorie synthétique de la courbure de Ricci</p>
                        <p class="v-author">Institut des Hautes Études Scientifiques (IHÉS)</p>
                    </div>

                    <!-- item content -->
                    <div class="v-item">
                            <p class="v-duration">1:30:32min</p>
                            <img src="services/v/icons/1_state.svg">
                            <hr/>
                            <p class="v-title">Cédric Villani - 1/7 La théorie synthétique de la courbure de Ricci</p>
                            <p class="v-author">Institut des Hautes Études Scientifiques (IHÉS)</p>
                        </div>
               </div>

            </div>
        <!-- End of  06 - Profile Content -->


        <!----------------------------------------------------------- 07 - Import -->
            <div class="v-hide" id="v-import">
                <h2 id="v-import_title">Nouvelle Pousse</h2>



                <div id="v-import_cutting">
                    <h2>Bouture</h2>

                    <div id="v-cutting_quota">

                        <div id="v-video_quota">
                            <p>Vidéo : </p><p class="v-left_number">1</p>
                            <div class="v-background_bar">
                                <div class="v-progress_bar"></div>
                            </div>

                        </div>

                        <div id="v-music_quota">
                            <p>Musique :</p><p class="v-left_number">4</p>
                            <div class="v-background_bar">
                                <div class="v-progress_bar"></div>
                            </div>
                        </div>

                    </div>

                    <figure>
                        <img src="services/v/icons/picto_bouture.svg" alt="bouture : récupérer depuis le web">
                    </figure>

                    <button> Récupérer depuis le web </button>
                </div>



                <div id="v-import_upload">
                        <h2>Plantation</h2>

                        <div id="v-plant_quota">
                            <p>Stockage disponible :</p><p class="v-left_number">43%</p>
                            <div class="v-background_bar">
                                <div class="v-progress_bar"></div>
                            </div>
                        </div>

                        <figure>
                            <img src="services/v/icons/picto_new.svg" alt="Plantation : héberger une vidéo et la mettre en ligne">
                        </figure>

                        <button> Mettre en ligne une vidéo </button>
                </div>

            </div>
         <!-- End of  07 - Import -->

    </div>
<!-- End of WRAPPER -->

</div> <!--   END OF "v" - VIDEO - AUDIO SERVICE -->
</body>
