<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LE-VERGER</title>
    <link href="services/a/css/reset.css" type="text/css" rel="stylesheet">
    <link href="services/a/css/font.css" type="text/css" rel="stylesheet">
    <link href="services/a/css/style.css" type="text/css" rel="stylesheet">
    <script src="services/a/js/jquery.min.js"></script>
    <script src="services/a/js/js.js"></script>
    <script src="services/a/js/xml.js"></script>
    <script src="services/a/js/test.js"></script>

  </head>
  <body>

    <header>
      <div class="a-carre1">
        <ul class="a-page1 a-page">
          <li>
            <span class="a-titre-niv2 go-page2">0 essence actuellement active</span>
          </li>
          <li>
            <span class="a-titre-niv1 a-main go-page1">Le verger</span>
          </li>
          <li>
            <span class="a-titre-niv2 go-page3">Ma récolte (0/5)</span>
          </li>
        </ul>

        <ul class="a-page2 a-page">
          <li>
            <span class="a-titre-niv2 go-page1">Le verger</span>
          </li>
          <li>
            <span class="a-titre-niv1 a-main go-page2">0 essence actuellement active</span>
          </li>
          <li>
            <span class="a-titre-niv2 go-page3">Ma récolte (0/5)</span>
          </li>
        </ul>

        <ul class="a-page3 a-page a-articleuh a-articleuh1 a-articleuh2">
          <li>
            <span class="a-titre-niv2 go-page2">0 essence actuellement active</span>
          </li>
          <li>
            <span class="a-titre-niv1 a-main go-page3">Ma récolte (0/5)</span>
          </li>
          <li>
            <span class="a-titre-niv2 go-page1">Le verger</span>
          </li>
        </ul>


      </div>
      <div class="a-carre2">
        <ul class="a-page1 a-articleuh a-page">
          <li>
            <a href="#">Mur depuis</a>
          </li>
          <li>
            <a href="#">Titre</a>
          </li>
          <li>
            <a href="#">Filtrer par</a>
          </li>
        </ul>

        <ul class="a-page2 a-page aaaaaa-aaaa">
          <li>
            <a href="#" class="a-bout-elem" id="elem1">Tout voir</a>
          </li>
          <li>
            <a href="#" class="a-bout-elem" id="elem2">Actus</a>
          </li>
          <li>
            <a href="#" class="a-bout-elem" id="elem3">International</a>
          </li>
          <li>
            <a href="#" class="a-bout-elem" id="elem4">Sport</a>
          </li>
          <li>
            <a href="#" class="a-bout-elem" id="elem5">Design</a>
          </li>
          <li>
            <a href="#" class="a-bout-elem" id="elem6">Autre</a>
          </li>
        </ul>

        <ul class="a-page3 a-page">
          <li>
            <a href="#" id="elem1">Article 1</a>
          </li>
          <li>
            <a href="#" id="elem2">Article 2</a>
          </li>
          <li>
            <a href="#" id="elem3">Article 3</a>
          </li>
          <li>
            <a href="#" id="elem4">Article 4</a>
          </li>
          <li>
            <a href="#" id="elem5">Aricle 5</a>
          </li>
        </ul>
      </div>
    </header>


    <section class="a-page1 a-page a-leverger">
      <div class="a-article a-vert" id="a-1">
        <img src="services/a/img/a-back-3.png" alt="">
        <hgroup id="la1">
          <h3>2h</h3>
          <h2>L'Aqua alta à venise</h2>
          <a href="#" class="go-article">récolter
          </a>
      </hgroup>
      </div>

      <div class="a-article a-noir" id="a-2">
        <img src="services/a/img/a-back-4.png" alt="">
        <hgroup id="la2">
          <h3>2h</h3>
          <h2>Lithographie et mise en abyme pour l’affiche des Puces de l’Illu par Mathieu Pauget</h2>
          <a href="#" class="go-article">récolter</a>
      </hgroup>
      </div>

      <div class="a-article a-vert" id="a-1">
        <img src="services/a/img/a-back-2.png" alt="">
        <hgroup>
          <h3>2h</h3>
          <h2>Le sud de l'Irak à feu et à sang, 28 manifestants tués</h2>
          <a href="#" class="go-article">récolter</a>
      </hgroup>
      </div>

      <div class="a-article a-noir">
        <img src="services/a/img/a-back-1.png" alt="">
        <hgroup>
          <h3>2h</h3>
          <h2>Pédophilie dans l'Eglise: Barbarin campe sur ses positions en appel</h2>
          <a href="#" class="go-article">récolter</a>
      </hgroup>
    </div>

    <div class="a-article a-vert" id="a-1">
      <img src="services/a/img/a-back-2.png" alt="">
      <hgroup>
        <h3>2h</h3>
        <h2>Dopage: Moscou dénonce un complot "politique" et une concurrence "déloyale"</h2>
        <a href="#" class="go-article">récolter</a>
    </hgroup>
    </div>

    <div class="a-article a-noir">
      <img src="services/a/img/a-back-4.png" alt="">
      <hgroup>
        <h3>2h</h3>
        <h2>Il pleut à Villefontaine</h2>
        <a href="#" class="go-article">récolter</a>
    </hgroup>
    </div>

    <div class="a-article a-vert" id="a-1">
      <img src="services/a/img/a-back-3.png" alt="">
      <hgroup>
        <h3>2h</h3>
        <h2>Il pleut à Villefontaine</h2>
        <a href="#" class="go-article">récolter</a>
    </hgroup>
    </div>

    <div class="a-article a-noir">
      <img src="services/a/img/a-back-1.png" alt="">
      <hgroup>
        <h3>2h</h3>
        <h2>Il pleut à Villefontaine</h2>
        <a href="#" class="go-article">récolter</a>
    </hgroup>
  </div>

  <div class="a-article a-vert" id="a-1">
    <img src="services/a/img/a-back-3.png" alt="">
    <hgroup>
      <h3>2h</h3>
      <h2>Il pleut à Villefontaine</h2>
      <a href="#" class="go-article">récolter</a>
  </hgroup>
  </div>

  <div class="a-article a-noir">
    <img src="services/a/img/a-back-4.png" alt="">
    <hgroup>
      <h3>2h</h3>
      <h2>Il pleut à Villefontaine</h2>
      <a href="#"class="go-article">récolter</a>
  </hgroup>
  </div>

  <div class="a-article a-vert" id="a-1">
    <img src="services/a/img/a-back-2.png" alt="">
    <hgroup>
      <h3>2h</h3>
      <h2>Il pleut à Villefontaine</h2>
      <a href="#"class="go-article">récolter</a>
  </hgroup>
  </div>

  <div class="a-article a-noir">
    <img src="services/a/img/a-back-1.png" alt="">
    <hgroup>
      <h3>2h</h3>
      <h2>Il pleut à Villefontaine</h2>
      <a href="#" class="go-article">récolter</a>
  </hgroup>
</div>

<div class="a-article a-vert" id="a-1">
  <img src="services/a/img/a-back-2.png" alt="">
  <hgroup>
    <h3>2h</h3>
    <h2>Il pleut à Villefontaine</h2>
    <a href="#" class="go-article">récolter</a>
</hgroup>
</div>

<div class="a-article a-noir">
  <img src="services/a/img/a-back-4.png" alt="">
  <hgroup>
    <h3>2h</h3>
    <h2>Il pleut à Villefontaine</h2>
    <a href="#" class="go-article">récolter</a>
</hgroup>
</div>

<div class="a-article a-vert" id="a-1">
  <img src="services/a/img/a-back-3.png" alt="">
  <hgroup>
    <h3>2h</h3>
    <h2>Il pleut à Villefontaine</h2>
    <a href="#" class="go-article">récolter</a>
</hgroup>
</div>

<div class="a-article a-noir">
  <img src="services/a/img/a-back-1.png" alt="">
  <hgroup>
    <h3>2h</h3>
    <h2>Il pleut à Villefontaine</h2>
    <a href="#" class="go-article">récolter</a>
</hgroup>
</div>
    </section>





    <section class="a-page2 a-page a-essence">
    <section class="la-section-du-bas">

      <div class="pop-up-plusplus">
        <div class="base-donne-set">
        <aside>
          <a href="#" class="mdr" id="a-actives">essences actives</a>
          <a href="#" class="mdr" id="a-inactives">essences inactives</a>
          <a href="#" class="mdr" id="a-incomplètes">essences incomplètes</a>
        </aside>

         <div id="Div_XML"></div>
       </div>

      </div>



    </section>
    </section>





    <section class="a-page3 a-page a-marecolte">
      <section class="a-fondnoir">

          <div class="a-re re-vert" id="cont1">
            <hgroup>
                <h2>Venise sous la flotte!</h2>
                <h3>Source le LeMonde</h3>
            </hgroup>
          </div>

          <div class="a-re re-noir" id="cont2">
            <hgroup>
                <h2>Lithographie et mise en abyme pour l’affiche des Puces de l’Illu par Mathieu Pauget</h2>
                <h3>Source Étapes</h3>
            </hgroup>
          </div>

          <div class="a-re re-vert" id="cont3">
            <hgroup>
                <h2>Le sud de l'Irak à feu et à sang, 28 manifestants tués</h2>
                <h3>Source AFP</h3>
            </hgroup>
          </div>

          <div class="a-re re-noir" id="cont4">
            <hgroup>
                <h2>Pédophilie dans l'Eglise: Barbarin campe sur ses positions en appel</h2>
                <h3>Source AFP</h3>
            </hgroup>
          </div>

          <div class="a-re re-vert" id="cont5">
            <hgroup>
                <h2>Dopage: Moscou dénonce un complot "politique" et une concurrence "déloyale"</h2>
                <h3>Source AFP</h3>
            </hgroup>
          </div>
          <h3 class="contearebourd"></h3>

    </section>
  </section>




<section class="a-articleuh a-page" id='article'>
  <section class="a-ceciestunarticle">
    <hgroup class="a-article-chapo">

        <h3 id="a-qui">Article récolté par : vous aujourd’hui</h3>
        <h3 id="a-c-koi">Source : LeMonde,<br>
  Actualité française & mondiale <br>
  Média privé, propriété du groupe LeMonde <br>
  Par Quentin Raverdy à Venise
  <a href="#">Voir l'original</a>
    <a href="#">Partager à un ami</a>
  </h3>

  <h2>Innondation <br> à venise<h2>
    </hgroup>
  </section>

  <article class="a-larticle">
    <div class="a-img-article"></div>
    <div class="a-le-texte">
    <p class="a-intro">Quatre épisodes d’<i>« acqua alta »</i> et une crue exceptionnelle ont créé une situation très compliquée dans la ville italienne. Le gouvernement italien se doit de réagir pour éviter l’irréparable à l’avenir.</p>
    <p class="a-corps">Le cours des eaux a un peu baissé et le quotidien a progressivement repris un cours normal, dimanche 17 novembre, dans l’après-midi, à Venise. Après cinq journées de peur et de solidarité, rythmées par les marées et les sirènes d’alarme, quatre épisodes d’acqua alta exceptionnels et surtout une crue dantesque, dans la soirée du 12 novembre, enregistrée comme la deuxième plus grave de l’histoire, les habitants de la lagune devraient enfin avoir quelques jours pour souffler.
  Lire aussi  Léger répit pour Venise sous les eaux, Florence et Pise en alerte
  Quelles leçons tirer de cet enchaînement dramatique, qui a rappelé aux Vénitiens, à l’Italie et au monde que la Sérénissime est mortelle ? Si deux habitants de Pellestrina sont morts mardi, lors de la première montée des eaux, les dégâts, dans le centre-ville de Venise, sont avant tout matériels. Immeubles inondés, installations électriques hors service, commerces contraints à la fermeture : les dommages se chiffrent en centaines de millions d’euros, et pourraient, selon de nombreuses estimations, dépasser le milliard. De nombreux édifices ont été fragilisés, mais aucun incendie d’ampleur ne s’est déclenché et, même si la basilique Saint-Marc, une fois de plus, a souffert, l’immense patrimoine artistique de la ville n’a subi aucun dégât irréparable.
  L’acqua grande du 4 novembre 1966 (1,94 m, contre 1,87 m enregistré mardi à 23 heures) avait certes causé des destructions plus graves, ruinant des centaines de familles et mettant à genoux l’économie de la ville. Mais la Venise d’alors ne s’y attendait pas. Celle de 2019 a eu plus d’un demi-siècle pour se préparer, et elle s’est montrée incapable d’en réduire les effets. L’acqua alta du 12 novembre est tout sauf une catastrophe naturelle.
  Scandale de corruption
  Dans les années 1970, le gouvernement italien a placé la ville sous le régime d’une « loi spéciale », permettant de financer généreusement la mise en valeur des voies et édifices de la ville, publics ou privés. Dans le même temps commençait à être imaginé un chantier pharaonique, celui des digues flottantes du MOSE, qui a commencé en 2003 et reste pour l’heure inachevé. L’explosion des coûts de cette entreprise hors normes (6 milliards d’euros dépensés, pour l’heure en pure perte) a tari les ressources disponibles pour la ville en elle-même, tandis qu’un gigantesque scandale de corruption, en 2014, semait le doute sur l’ensemble du chantier, en même temps qu’il envoyait en prison nombre de ses concepteurs.
  Article réservé à nos abonnés Lire aussi  Marée haute à Venise : « Une digue finie à 95 % ne sert à rien »
  Pour ces raisons, l’état d’esprit qui dominait à Venise était la colère. Malgré les efforts spectaculaires des Vénitiens pour nettoyer la ville et venir au secours des plus fragiles, peu de gens retiendront que, même au plus fort de la crise, Venise ne s’est pas arrêtée. Les images d’une cité engloutie seront sans doute les plus fortes. Le tourisme, principale ressource de Venise depuis au moins trois siècles, risque d’en être lourdement affecté.
  Aujourd’hui les Vénitiens demandent des comptes, et les administrations successives auront du mal à s’exonérer de leur responsabilité dans ce fiasco, qui s’ajoute à l’incapacité générale à mettre un terme aux incursions des navires géants devenus le symbole universel des ravages du tourisme de masse. Venise est fragile. Le gouvernement italien doit montrer qu’il a pris la mesure de la menace et agir au plus vite, pour que dans cinquante ans ou avant l’irréparable ne se produise pas. C’est sa responsabilité d’éviter la disparition de ce trésor inestimable.</p>
  </article>
  </div>
  <footer class="a-foot">
    <img src="img/aritcle-back-1.png" alt="" class="a-noir">
  </footer>
  <img src="img/def.jpg" class="a-pop-up1" alt="">
  <div class="a-pop-up2">
    <figcaption>A Venise, le 17 novembre 2019. FILIPPO MONTEFORTE / AFP</figcaption>
  </div>
</section>




<section class="a-articleuh1 a-page" id='article1'>
  <section class="a-ceciestunarticle">
    <hgroup class="a-article-chapo">

        <h3 id="a-qui">Article récolté par : vous aujourd’hui</h3>
        <h3 id="a-c-koi">Source : LeMonde,<br>
  Actualité française & mondiale <br>
  Média privé, propriété du groupe LeMonde <br>
  Par Quentin Raverdy à Venise
  <a href="#">Voir l'original</a>
</h3>
  <h2>Lithographie et mise en abyme pour l’affiche des Puces de l’Illu par Mathieu Paugete<h2>
    </hgroup>
  </section>

  <article class="a-larticle">
    <div class="a-img-article"><p>jdfhsd</p></div>
    <div class="a-le-texte">
    <p class="a-intro">
      A l’occasion des Puces de l’Illu, le festival de l’illustration contemporaine au Campus Fonderie de l’Image, école d’études supérieures de design graphique, l’agente d’illustrateurs et illustratrices Malina Cimino est allée rencontrer l’auteur de l’affiche de la septième édition : Mathieu Pauget. Initié avec une carte blanche il a proposé un dessin crayonné, décliné en deux versions : sa version estivale et animée en réalité augmentée, et sa version hivernale réalisée en lithographie à l’Atelier À Fleur de Pierre.
     </p>
    <p class="a-corps">
      Bonjour Mathieu ! Quel a été votre parcours ?<br>
      Je suis né en 1989 à Lyon et j’ai fait les Arts Déco de Paris en section Image Imprimée. À ma sortie d’école, j’ai monté un atelier de sérigraphie et de gravure à Maisons-Alfort, avec mon ami Lucas Ribeyron. Avec Frédéric Déjean, nous avons ensuite créé l’atelier CO-OP. Il y a deux ans, j’ai quitté l’atelier afin de me consacrer pleinement à ma pratique artistique.
      Vous avez réalisé la septième affiche des Puces de l’illustration. <br>
      Quel a été votre processus de création pour cette affiche ?<br>
      Je voulais réaliser une mise en abyme, un dessin dans le dessin en quelque sorte. J’ai donc composé une image dans laquelle les personnages sont en train de contempler un tableau, ou une fenêtre, cela dépend de chacun. De la même façon, les personnes qui vont venir aux Puces de l’Illu vont voir des œuvres, ou regarder l’affiche… Ensuite, j’ai rajouté des éléments qui m’amusaient, comme les nageurs et la famille de pêcheurs. Cela crée un décalage et la rend moins « sérieuse ». Pour faire une image comme celle-ci, j’ai fait quelques croquis, puis je l’ai rapidement dessiné à la bonne dimension, avec ma technique de prédilection, le crayon de couleur.<br>
      Vous avez réalisé l’affiche des Puces en lithographie à l’atelier A Fleur de Pierre. Pouvez vous nous raconter comment ça s’est passé ? <br>
      Je suis d’abord allé voir Laurence et Etienne (ndlr. Les gérants de l’atelier) qui m’ont conseillé et m’ont rappelé ce qu’il était possible de faire. Je suis revenu quelques semaines après pour dessiner sur mes cailloux. J’avais 3 pierres, une pour chaque couleur. J’ai reporté mon dessin sur chacune des pierre et je me suis mis au travail. C’était très agréable de dessiner là-bas, connaissant bien l’équipe on se sent tout de suite comme chez soi. Les étudiants du Campus Fonderie de l’Image sont également venus observer comment fonctionne cette technique. Ils étaient très curieux et m’ont posé beaucoup de questions pendant que je travaillais.<br>
      Quelle importance a pour vous le fait de former ou attiser la curiosité du public, autour de différentes pratiques, comme vous l’avez fait avec la lithographie ?<br>
      Je trouve ça très important d’expliquer, continuer à faire vivre et découvrir ces techniques. Elles nourrissent énormément l’univers des artistes. Chacune possède ses spécificités plastiques et techniques. Elles demandent à l’artiste de regarder son travail sous un nouveau jour et de se ré-inventer. Il est également important que le public ait conscience du temps et du travail que ces techniques requièrent, leur caractère artisanal et donc le statut particulier des ouvrages produit.
    </p>
  </article>
  </div>
  <footer class="a-foot">
    <img src="services/a/img/aritcle-back-1.png" alt="" class="a-noir">
  </footer>
  <div class="a-pop-up1"></div>
  <div class="a-pop-up2">
    <figcaption>A Venise, le 17 novembre 2019. FILIPPO MONTEFORTE / AFP</figcaption>
  </div>
</section>


<section class="a-articleuh2 a-page" id='article2'>
  <section class="a-ceciestunarticle">
    <hgroup class="a-article-chapo">

        <h3 id="a-qui">Article récolté par : vous aujourd’hui</h3>
        <h3 id="a-c-koi">Source : LeMonde,<br>
  Actualité française & mondiale <br>
  Média privé, propriété du groupe LeMonde <br>
  Par Quentin Raverdy à Venise
  <a href="#">Voir l'original</a>
</h3>
  <h2>Lithographie et mise en abyme pour l’affiche des Puces de l’Illu par Mathieu Paugete<h2>
    </hgroup>
  </section>

  <article class="a-larticle">
    <div class="a-img-article"><p>jdfhsd</p></div>
    <div class="a-le-texte">
    <p class="a-intro">
      Le sud de l'Irak était à feu et à sang jeudi, la mort de 28 manifestants dans la répression des forces de l'ordre ne faisant pas faiblir les attaques des protestataires contre des bâtiments officiels dont le consulat d'Iran dans la ville sainte chiite de Najaf.
     </p>
    <p class="a-corps">
      Pour tenter de contenir la violence qui s'est déchaînée lors d'une des journées les plus meurtrières en deux mois de contestation, les autorités ont limogé un général qu'elles avaient initialement dépêché pour "rétablir l'ordre" dans le sud de l'Irak.
      Avec l'incendie du consulat iranien, le mouvement qui conspue le pouvoir à Bagdad et son parrain iranien a franchi un palier, après des violences qui ont fait en deux mois plus de 380 morts et quelque 15.000 blessés selon un bilan de sources médicales et policières compilé par l'AFP.
      A Nassiriya, dont est originaire le Premier ministre Adel Abdel Mahdi, 25 manifestants ont été tués et plus de 200 blessés en quelques heures, après l'arrivée des renforts de la police depuis Bagdad, selon des médecins.
      Mais les manifestants ne se replient pas. Ils ont d'abord incendié un QG de la police puis encerclé le commandement militaire de la province où se trouvent les ruines de la ville antique d'Ur. Ils ont formé par milliers un cortège funéraire aux "martyrs" dans le centre-ville, défiant un couvre-feu imposé plus tôt.
      Là, ils ont crié qu'ils resteraient "jusqu'à la chute du régime".
      Des dizaines de combattants tribaux en armes se sont eux déployés sur l'autoroute venant de Bagdad, déterminés ont-ils dit, à empêcher l'arrivée de plus de renforts.
      Evoquant des "scènes de guerre" à Nassiriya, Amnesty International a accusé les forces irakiennes de se livrer à "une violence consternante" et appelé la communauté internationale à intervenir car "le bain de sang doit cesser".
      Plus au nord, dans la ville sainte chiite de Najaf, visitée chaque années par des millions de pèlerins iraniens, des centaines de manifestants ont brûlé puis investi le consulat iranien mercredi tard le soir, aux cris de "Iran dehors!" et "victoire à l'Irak!".
      Jeudi, trois manifestants ont été tués par balles près du consulat, selon des médecins.
      Bagdad a dénoncé des personnes "étrangères aux manifestations" voulant "saper les relations historiques" entre l'Iran et l'Irak, d'avoir incendié le consulat. Téhéran a réclamé "une action décisive".
      Les violences ont aussi touché Kerbala, l'autre ville sainte chiite, où des heurts ont opposé manifestants aux forces de l'ordre.
      Pour les manifestants, le système politique conçu par les Américains qui ont renversé Saddam Hussein en 2003 est à bout de souffle dans un des pays les plus riches en pétrole du monde mais aussi l'un des plus corrompus.
      Et surtout, le pouvoir est sous la mainmise de l'Iran, qui a pris l'avantage face aux Etats-Unis, et de son puissant émissaire, le général Qassem Soleimani. Ce dernier est parvenu à réunir les partis irakiens pour resserrer les rangs autour de M. Abdel Mahdi, un temps sur la sellette.
      Depuis le début le 1er octobre du mouvement inédit depuis des décennies en Irak, les manifestants réclament le renouvellement du système et de la classe dirigeante dans un pays où un habitant sur cinq vit sous le seuil de pauvreté et où, officiellement, 410 milliards d'euros ont été détournés ces 16 dernières années, soit deux fois le PIB.
    </p>
  </article>
  </div>
  <footer class="a-foot">
    <img src="services/a/img/aritcle-back-1.png" alt="" class="a-noir">
  </footer>
  <div class="a-pop-up1"></div>
  <div class="a-pop-up2">
    <figcaption>A Venise, le 17 novembre 2019. FILIPPO MONTEFORTE / AFP</figcaption>
  </div>
</section>

<div class="pop-up-verger1">
  <h3>Êtes vous sûre de vouloir récolter cet article? <br>
      Il sera stocké sur votre stockage personnel.</h3>
  <a href="#" class="go-article-oui a1">oui</a>
</div>

  </body>
</html>
