<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LE-VERGER</title>
    <link href="services/a/css/reset.css" type="text/css" rel="stylesheet">
    <link href="services/a/css/font.css" type="text/css" rel="stylesheet">
    <link href="services/a/css/style.css" type="text/css" rel="stylesheet">
    <script src="services/a/js/jquery.min.js"></script>
    <script src="services/a/js/js.js"></script>
    <script src="services/a/js/xml.js"></script>
    <script src="services/a/js/test.js"></script>

  </head>
  <body>

    <header>
      <div class="a-carre1">
        <ul class="a-page1 a-page">
          <li>
            <span class="a-titre-niv2 go-page2">0 essence actuellement active</span>
          </li>
          <li>
            <span class="a-titre-niv1 a-main go-page1">Le verger</span>
          </li>
          <li>
            <span class="a-titre-niv2 go-page3">Ma récolte (0/5)</span>
          </li>
        </ul>

        <ul class="a-page2 a-page">
          <li>
            <span class="a-titre-niv2 go-page1">Le verger</span>
          </li>
          <li>
            <span class="a-titre-niv1 a-main go-page2">0 essence actuellement active</span>
          </li>
          <li>
            <span class="a-titre-niv2 go-page3">Ma récolte (0/5)</span>
          </li>
        </ul>

        <ul class="a-page3 a-page a-articleuh">
          <li>
            <span class="a-titre-niv2 go-page2">0 essence actuellement active</span>
          </li>
          <li>
            <span class="a-titre-niv1 a-main go-page3">Ma récolte (0/5)</span>
          </li>
          <li>
            <span class="a-titre-niv2 go-page1">Le verger</span>
          </li>
        </ul>


      </div>
      <div class="a-carre2">
        <ul class="a-page1 a-articleuh a-page">
          <li>
            <a href="#">Mur depuis</a>
          </li>
          <li>
            <a href="#">Titre</a>
          </li>
          <li>
            <a href="#">Filtrer par</a>
          </li>
        </ul>

        <ul class="a-page2 a-page aaaaaa-aaaa">
          <li>
            <a href="#" class="a-bout-elem" id="elem1">Tout voir</a>
          </li>
          <li>
            <a href="#" class="a-bout-elem" id="elem2">Actus</a>
          </li>
          <li>
            <a href="#" class="a-bout-elem" id="elem3">International</a>
          </li>
          <li>
            <a href="#" class="a-bout-elem" id="elem4">Sport</a>
          </li>
          <li>
            <a href="#" class="a-bout-elem" id="elem5">Design</a>
          </li>
          <li>
            <a href="#" class="a-bout-elem" id="elem6">Autre</a>
          </li>
        </ul>

        <ul class="a-page3 a-page">
          <li>
            <a href="#" id="elem1">Article 1</a>
          </li>
          <li>
            <a href="#" id="elem2">Article 2</a>
          </li>
          <li>
            <a href="#" id="elem3">Article 3</a>
          </li>
          <li>
            <a href="#" id="elem4">Article 4</a>
          </li>
          <li>
            <a href="#" id="elem5">Aricle 5</a>
          </li>
        </ul>
      </div>
    </header>


    <section class="a-page1 a-page a-leverger">
      <div class="a-article a-vert" id="a-1">
        <img src="services/a/img/a-back-3.png" alt="">
        <hgroup>
          <h3>2h</h3>
          <h2>Il pleut à Villefontaine</h2>
          <a href="#" class="go-article">récolter
          </a>

      </hgroup>
      </div>

      <div class="a-article a-noir">
        <img src="services/a/img/a-back-4.png" alt="">
        <hgroup>
          <h3>2h</h3>
          <h2>Il pleut à Villefontaine</h2>
          <a href="#" class="go-article">récolter</a>
          <div class="pop-up-verger1">
            <h3>Êtes vous sûre de vouloir récolter cet article? <br>
                Il sera stocké sur votre stockage personnel.</h3>
            <a href="#" class="go-article-oui">oui</a>
          </div>
      </hgroup>
      </div>

      <div class="a-article a-vert" id="a-1">
        <img src="services/a/img/a-back-2.png" alt="">
        <hgroup>
          <h3>2h</h3>
          <h2>Il pleut à Villefontaine</h2>
          <a href="#">récolter</a>
      </hgroup>
      </div>

      <div class="a-article a-noir">
        <img src="services/a/img/a-back-1.png" alt="">
        <hgroup>
          <h3>2h</h3>
          <h2>Il pleut à Villefontaine</h2>
          <a href="#">récolter</a>
      </hgroup>
    </div>

    <div class="a-article a-vert" id="a-1">
      <img src="services/a/img/a-back-2.png" alt="">
      <hgroup>
        <h3>2h</h3>
        <h2>Il pleut à Villefontaine</h2>
        <a href="#">récolter</a>
    </hgroup>
    </div>

    <div class="a-article a-noir">
      <img src="services/a/img/a-back-4.png" alt="">
      <hgroup>
        <h3>2h</h3>
        <h2>Il pleut à Villefontaine</h2>
        <a href="#">récolter</a>
    </hgroup>
    </div>

    <div class="a-article a-vert" id="a-1">
      <img src="services/a/img/a-back-3.png" alt="">
      <hgroup>
        <h3>2h</h3>
        <h2>Il pleut à Villefontaine</h2>
        <a href="#">récolter</a>
    </hgroup>
    </div>

    <div class="a-article a-noir">
      <img src="services/a/img/a-back-1.png" alt="">
      <hgroup>
        <h3>2h</h3>
        <h2>Il pleut à Villefontaine</h2>
        <a href="#">récolter</a>
    </hgroup>
  </div>

  <div class="a-article a-vert" id="a-1">
    <img src="services/a/img/a-back-3.png" alt="">
    <hgroup>
      <h3>2h</h3>
      <h2>Il pleut à Villefontaine</h2>
      <a href="#">récolter</a>
  </hgroup>
  </div>

  <div class="a-article a-noir">
    <img src="services/a/img/a-back-4.png" alt="">
    <hgroup>
      <h3>2h</h3>
      <h2>Il pleut à Villefontaine</h2>
      <a href="#">récolter</a>
  </hgroup>
  </div>

  <div class="a-article a-vert" id="a-1">
    <img src="services/a/img/a-back-2.png" alt="">
    <hgroup>
      <h3>2h</h3>
      <h2>Il pleut à Villefontaine</h2>
      <a href="#">récolter</a>
  </hgroup>
  </div>

  <div class="a-article a-noir">
    <img src="services/a/img/a-back-1.png" alt="">
    <hgroup>
      <h3>2h</h3>
      <h2>Il pleut à Villefontaine</h2>
      <a href="#">récolter</a>
  </hgroup>
</div>

<div class="a-article a-vert" id="a-1">
  <img src="services/a/img/a-back-2.png" alt="">
  <hgroup>
    <h3>2h</h3>
    <h2>Il pleut à Villefontaine</h2>
    <a href="#">récolter</a>
</hgroup>
</div>

<div class="a-article a-noir">
  <img src="services/a/img/a-back-4.png" alt="">
  <hgroup>
    <h3>2h</h3>
    <h2>Il pleut à Villefontaine</h2>
    <a href="#">récolter</a>
</hgroup>
</div>

<div class="a-article a-vert" id="a-1">
  <img src="services/a/img/a-back-3.png" alt="">
  <hgroup>
    <h3>2h</h3>
    <h2>Il pleut à Villefontaine</h2>
    <a href="#">récolter</a>
</hgroup>
</div>

<div class="a-article a-noir">
  <img src="services/a/img/a-back-1.png" alt="">
  <hgroup>
    <h3>2h</h3>
    <h2>Il pleut à Villefontaine</h2>
    <a href="#">récolter</a>
</hgroup>
</div>
    </section>





    <section class="a-page2 a-page a-essence">
    <section class="la-section-du-bas">

      <div class="pop-up-plusplus">
        <div class="base-donne-set">
        <aside>
          <a href="#" class="mdr" id="a-actives">essences actives</a>
          <a href="#" class="mdr" id="a-inactives">essences inactives</a>
          <a href="#" class="mdr" id="a-incomplètes">essences incomplètes</a>
        </aside>

         <div id="Div_XML"></div>
       </div>

      </div>



    </section>
    </section>





    <section class="a-page3 a-page a-marecolte">
      <section class="a-fondnoir">

          <div class="a-re re-vert" id="cont1">
            <hgroup>
                <h2>Venise sous la flotte!</h2>
                <h3>Source le LeMonde</h3>
            </hgroup>
          </div>

          <div class="a-re re-noir" id="cont2">
            <hgroup>
                <h2>Venise sous la flotte!</h2>
                <h3>Source le LeMonde</h3>
            </hgroup>
          </div>

          <div class="a-re re-vert" id="cont3">
          </div>

          <div class="a-re re-noir" id="cont4">
          </div>

          <div class="a-re re-vert" id="cont5">
          </div>
          <h3 class="contearebourd"></h3>

    </section>
  </section>




<section class="a-articleuh a-page" id='article'>
  <section class="a-ceciestunarticle">
    <img src="services/a/img/aritcle-back.png" alt="" class="a-noir">
    <hgroup class="a-article-chapo">

        <h3 id="a-qui">Article récolté par : vous aujourd’hui</h3>
        <h3 id="a-c-koi">Source : LeMonde,<br>
  Actualité française & mondiale <br>
  Média privé, propriété du groupe LeMonde <br>
  Par Quentin Raverdy à Venise</h3>
  <h2>Innondation <br> à venise<h2>
    </hgroup>
  </section>

  <article class="a-larticle">
    <div class="a-img-article"></div>
    <div class="a-le-texte">
    <p class="a-intro">Quatre épisodes d’<i>« acqua alta »</i> et une crue exceptionnelle ont créé une situation très compliquée dans la ville italienne. Le gouvernement italien se doit de réagir pour éviter l’irréparable à l’avenir.</p>
    <p class="a-corps">Le cours des eaux a un peu baissé et le quotidien a progressivement repris un cours normal, dimanche 17 novembre, dans l’après-midi, à Venise. Après cinq journées de peur et de solidarité, rythmées par les marées et les sirènes d’alarme, quatre épisodes d’acqua alta exceptionnels et surtout une crue dantesque, dans la soirée du 12 novembre, enregistrée comme la deuxième plus grave de l’histoire, les habitants de la lagune devraient enfin avoir quelques jours pour souffler.
  Lire aussi  Léger répit pour Venise sous les eaux, Florence et Pise en alerte
  Quelles leçons tirer de cet enchaînement dramatique, qui a rappelé aux Vénitiens, à l’Italie et au monde que la Sérénissime est mortelle ? Si deux habitants de Pellestrina sont morts mardi, lors de la première montée des eaux, les dégâts, dans le centre-ville de Venise, sont avant tout matériels. Immeubles inondés, installations électriques hors service, commerces contraints à la fermeture : les dommages se chiffrent en centaines de millions d’euros, et pourraient, selon de nombreuses estimations, dépasser le milliard. De nombreux édifices ont été fragilisés, mais aucun incendie d’ampleur ne s’est déclenché et, même si la basilique Saint-Marc, une fois de plus, a souffert, l’immense patrimoine artistique de la ville n’a subi aucun dégât irréparable.
  L’acqua grande du 4 novembre 1966 (1,94 m, contre 1,87 m enregistré mardi à 23 heures) avait certes causé des destructions plus graves, ruinant des centaines de familles et mettant à genoux l’économie de la ville. Mais la Venise d’alors ne s’y attendait pas. Celle de 2019 a eu plus d’un demi-siècle pour se préparer, et elle s’est montrée incapable d’en réduire les effets. L’acqua alta du 12 novembre est tout sauf une catastrophe naturelle.
  Scandale de corruption
  Dans les années 1970, le gouvernement italien a placé la ville sous le régime d’une « loi spéciale », permettant de financer généreusement la mise en valeur des voies et édifices de la ville, publics ou privés. Dans le même temps commençait à être imaginé un chantier pharaonique, celui des digues flottantes du MOSE, qui a commencé en 2003 et reste pour l’heure inachevé. L’explosion des coûts de cette entreprise hors normes (6 milliards d’euros dépensés, pour l’heure en pure perte) a tari les ressources disponibles pour la ville en elle-même, tandis qu’un gigantesque scandale de corruption, en 2014, semait le doute sur l’ensemble du chantier, en même temps qu’il envoyait en prison nombre de ses concepteurs.
  Article réservé à nos abonnés Lire aussi  Marée haute à Venise : « Une digue finie à 95 % ne sert à rien »
  Pour ces raisons, l’état d’esprit qui dominait à Venise était la colère. Malgré les efforts spectaculaires des Vénitiens pour nettoyer la ville et venir au secours des plus fragiles, peu de gens retiendront que, même au plus fort de la crise, Venise ne s’est pas arrêtée. Les images d’une cité engloutie seront sans doute les plus fortes. Le tourisme, principale ressource de Venise depuis au moins trois siècles, risque d’en être lourdement affecté.
  Aujourd’hui les Vénitiens demandent des comptes, et les administrations successives auront du mal à s’exonérer de leur responsabilité dans ce fiasco, qui s’ajoute à l’incapacité générale à mettre un terme aux incursions des navires géants devenus le symbole universel des ravages du tourisme de masse. Venise est fragile. Le gouvernement italien doit montrer qu’il a pris la mesure de la menace et agir au plus vite, pour que dans cinquante ans ou avant l’irréparable ne se produise pas. C’est sa responsabilité d’éviter la disparition de ce trésor inestimable.</p>
  </article>
  </div>
  <footer class="a-foot">
    <img src="services/a/img/aritcle-back.png" alt="" class="a-noir">
  </footer>
  <div class="a-pop-up1"></div>
  <div class="a-pop-up2">
    <figcaption>A Venise, le 17 novembre 2019. FILIPPO MONTEFORTE / AFP</figcaption>
  </div>
</section>

<script src="services/a/js/test.js"></script>
  </body>
</html>
