html{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

body{
  height: 100%;
}

.a-page3{
  width: 122%;
  height: 68.2%;
}

.a-page3 section{
  width: 122%;
  height: 68.2%;
  display: flex;
}

.a-re{
  width: 20%;
  height: 100%;
  background-size: cover;
  mask: url('../img/récolte-mask-1.png');
  mask-size: cover;
  mask-position: right;
  display: flex;
}

#cont1 hgroup{
  text-align: center;
  background-color: black;
  color: white;
  height: 30%;
  align-self: flex-end;
  position: relative;
  margin-left: 15%;
  width: 80%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#cont2 hgroup{
  text-align: center;
  background-color: #49DA69;
  color: white;
  height: 30%;
  align-self: flex-end;
  position: relative;
  width: 95%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2{
  font-size: 2em;
  font-family: 'Faune-Text_Italic';
}

.re-vert{
  background-image: url('../img/green.jpg');
}

.re-noir{
  background-image: url('../img/black.jpg');
}
#cont1{
  position: relative;
  left: -3%;
}
#cont2{
  position: relative;
  left: -6%;
  z-index: -1;
}

#cont3{
  position: relative;
  left: -9%;
  z-index: -2;
}

#cont4{
  position: relative;
  left: -12%;
  z-index: -3;
}

#cont5{
  position: relative;
  left: -15%;
  z-index: -4;
}
